.list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: fit-content;
}

.list-item {
  text-align: center;
}

.interestContainer {
  padding: 15px;
}

.interestText {
  color: #e6f1f5;
}
